*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* Make font-size 10px; 1rem=10px */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 50;
    
}

img {
    max-width: 100%;
}

header {
    background-color: white;
    position: relative;
    padding: 1rem;
}

.header-image {
    height: 3rem;
    box-sizing: unset;
    padding-right: 4px;
}

h1 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 2.5rem;
    padding-left: 10rem
}

.home-background {
    width: 100%;
}

.header-image {
    height: 3rem;
    box-sizing: unset;
    padding-right: 4px;
}



















































.nav-list {
    display: inline-flex;
    font-size: 2rem;
    padding: 2rem;
    padding: 1rem;
    padding-left: 1rem;
    list-style-type: none;
}
.magnifying-glass {
    height: 1rem;
    position: relative;
    right: 1.5rem;
}

.search-bar {
    float: right;
    position: absolute;
    right: 2rem;
    vertical-align: text-bottom;
}
.cart {
    float: right;
}

li {
    padding-right: 2rem;
    padding-left: 2rem;
}
.nav-list {
    display: inline-flex;
    font-size: 2rem;
    padding: 2rem;
    padding: 1rem;
    padding-left: 1rem;
    list-style-type: none;
}
.magnifying-glass {
    height: 1rem;
    position: relative;
    right: 1.5rem;
}

.cart {
    float: right;
}

.nav-a {
    color: #070707;
    text-decoration: none;
}
